.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bodyMargin {
  margin: 0 40px 40px 40px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between !important;
}

.bottomMarginPage {
  padding-bottom: 30px;
}

.cardHeight {
  height: 200px;
}

.tag {
  box-shadow: 5px 5px 5px #868e96;
  background-color: #495057 !important;
  color: white !important;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
}

.videoName {
  margin-bottom: 20px;
  margin-top: 5px;
}

.icon {
  cursor: pointer;
  color: #868e96;
  box-shadow: #282c34;
}

.iconNone {
  display: none;
}

.logo {
  height: 50px;
  width: 50px;
}
.alignRight {
  text-align: right !important;
}

.space {
  width: 120vh;
}
